<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995790444389-5kcc6v18q4pv868d34uaa0hfievqakcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995790444389-5kcc6v18q4pv868d34uaa0hfievqakcn</string>
	<key>API_KEY</key>
	<string>AIzaSyAFr4RLdzc8rz-1CkKQ4Yp0TxihM9HabsU</string>
	<key>GCM_SENDER_ID</key>
	<string>995790444389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edbergMessanginApp</string>
	<key>PROJECT_ID</key>
	<string>edberg-messaging-app</string>
	<key>STORAGE_BUCKET</key>
	<string>edberg-messaging-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995790444389:ios:18b80cf7397dfc8a4f738c</string>
</dict>
</plist>